@model project.models.Users.PostAuthenticateRequestModel

@section Styles{
    <link rel="stylesheet" href="~/css/authentication.css" />
}

@{ 
    ViewData["Title"] = Localizer["Inloggen"];
}

<div class="container">

    <form class="form-signin" asp-action="Index">
        <h1 class="h3 mb-3 font-weight-normal">@Localizer["Inloggen"]</h1>
        @if (TempData.ContainsKey("ApiError"))
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ApiError"]
            </div>
        }
        <div class="form-group">
            <label asp-for="UserName" class="sr-only">E-mailadres</label>
            <input asp-for="UserName" id="UserName" class="form-control" placeholder="E-mailadres" autofocus>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="sr-only">Wachtwoord</label>
            <input asp-for="Password" type="password" id="Password" class="form-control" placeholder="Wachtwoord">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group remember-me">
            <label>
                <input type="checkbox" checked="@ViewData["RememberMe"]" name="rememberMe"> @Localizer["Onthoud mij"]
            </label>
            <br/>
            <a href="@Url.Action("Email", "Authentication")">@Localizer["Wachtwoord vergeten"]</a>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["Inloggen"]</button>
    </form>
    </div>

    @section Scripts{
        <script src="~/js/authentication.js" asp-append-version="true"></script>
    }
